.navbar-toggle {


  background-color: black;
  border-width: 0px;
  border-radius: 0px;

}
.navbar-toggle span .icon-bar{
  color:white;

}


.post{
    border-left-color: rgb(228, 98, 98);
    }
    .row{
        margin-right: 0px;
        margin-top: 0px;
        padding-top: 0px;

    }
    
    .col-md-9{
        background-color: transparent;
        margin-right: 0px;
        margin-top: 0px;
        padding-right: 4%;
        padding-top: 3%;
        padding-left:4%; 
    }
    body{
        background-image:url('../img/bb2.jpg');
        background-size:cover;
        
        background-repeat: no-repeat;
        background-attachment: fixed;
        

        
    }




   
     .left{
        padding-left: 20px;
        padding-top: 30px;
          color: white;
          background-color:rgba(0,0,0,0.7);
          height:92vh;
           position:fixed;
           padding-right: 30px;
           margin-top: 48px;

       
        
      }
    

      .left h5{
        font-size: 30px;
        font-family: 'helveticaneuecondensedbold';
      
      }
     
.info{
    
    color:white;
    font-size: 17px;


}    
.details{
    color:#D0D3D4  ;
    font-size: 15px;
}
.postcont{
    font-size: 35px;
    color:white;
}
.interaction{
  color:#D0D3D4  ;
}
article{
    background-color: rgba(0,0,0,0.7);
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 4px;
}
.chatbubble{
    float:right;
    margin-right:15px;
     width:3%;
    height:auto; 
    
}



.success{
    color:green;
    background-color: rgb(156, 204, 156);
    text-align:center;

}
.error{
    color: red;
    padding: 0 px;
    margin: 0 px;
    background-color: rgb(172, 110, 110);

    text-align: right;
}
body{
    font-family: 'helveticaneuecondensedbold';
}
h5{
    font-family: 'helveticaneuecondensedbold';

}
.bton{
   
    background-color: black;
    border-width: 0px;
    text-decoration: none;
    margin-bottom: 8px;
    padding:10px;
    color:white;
    border-radius: 3px;
     padding-left: 20px;
    padding-right: 20px;
}
.bton1{
   
    background-color: white;
    border-width: 0px;
    text-decoration: none;
    margin-bottom: 8px;
    padding:10px;
    color:black;
    border-radius: 3px;
     padding-left: 20px;
    padding-right: 20px;
}
.bton:focus{
  
  box-shadow: 0 0 10px black;
   background-color: white;
   color:black;
    outline: none !important;
    border:none;


}
.bton1:focus{
  
  box-shadow: 0 0 10px black;
   background-color: black;
   color:white;
    outline: none !important;
    border:none;


}
 .form-control{
        border-width: 0px;
        border-radius: 4px;
        background-color: rgba(0,0,0,0.7);
        margin-top: 25px;
       
    }
    .form-control:focus {
    outline: none !important;
    border:1px solid rgba(0,0,0,0.8);
    box-shadow: 0 0 10px black;
}
 

 ::-moz-selection {
       background-color: black;
       color: white;
}

/* Works in Safari */
::selection {
       background-color: black;
       color: white;
}
h3{
 font-family: 'helveticaneuecondensedbold';
}

.navbar-default {
    background-color: black;
    color:white;
    border-width: 0px;
   border-radius: 0px;
   margin-bottom: 0px;
   position: fixed;
   top:0px;
   width:100%;
   height:20px;
   z-index: 4;


    }

  



    .navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: rgba(255,255,255,0.8);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgba(255,255,255,0.8);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: rgba(255,255,255,0.8);
}
::-webkit-input-placeholder{
    font-size: 20px;
    opacity:1;
    color:white;

}
::-moz-placeholder { 
  color:white;
   opacity:1;
   font-size: 20px;
}
:-ms-input-placeholder { 
  color: white;
   opacity:1;
   font-size: 20px;
}
:-moz-placeholder { 
  color:white;
   opacity:1;
   font-size: 20px;
}
::-webkit-input-focus{
    border-color:white;
}
a{
    text-decoration: none;
    color:rgba(0,0,0,0.4);

}
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color:rgba(0,0,0,0.4);
 
  } 
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  color:black;
  font-style: bold;
  
  } 
a:active  {
  /* Applies to activated links */
  text-decoration:  none;
  color: black;
  font-style: bold;
 
  } 
  textarea{
    background: rgba(0,0,0,0.7);
  }
  .img-responsive{
    height:140px;
  }
  .cbp-rfgrid {
 margin-top:30px;
 
  list-style: none;
  position: relative;
  width: 100%;
}

.cbp-rfgrid li {
  position: relative;
  float: left;
  overflow: hidden;
  width: 16.6666667%; /* Fallback */
  width: -webkit-calc(100% / 4);
  width: calc(100% / 4);
  height:150px;
  margin:8px;
padding-left: 8%;

background:-webkit-linear-gradient(rgba(0,0,0, 0.91), rgba(0,0,0, 0.7));
    background: -moz-linear-gradient(rgba(0,0,0, 0.91), rgba(0,0,0, 0.7));
    -webkit-text-fill-color: #f0f0f0;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.7), 0 0px 20px 0 rgba(0, 0, 0, 0.21);

}
.cbp-rfgrid li div{
  left: 20px;
  top: 20px;
  right: 20px;
  bottom: 20px;
  padding-top: 30%;
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
    align-items: center;
   
     

}
.cbp-rfgrid li:hover{


  background:black;


}



h3{
  font-size: 20px;
}

@media (max-width:1000px) {


.left{
  position: relative;
  height: 500px;
  margin-top:30px;
  text-align: center;
}
.col-sm-12{
  padding-right: 0px;

}
 article{
  margin-right: 20px;
 }

.form-group{
  margin-right: 20px;
 }



}
@media (max-width: 480px) {
.post{
    text-align: center;
}
.newpost{
    text-align: center;
}
.col-md-9{
    padding-left: 8%;
}
.left{
  position: relative;
  height: 350px;
  margin-top: 40px;
}

.img-responsive{
      height:50px;
    }
    .col-md-3{
      padding: 0px;
    }
    .des{
      
    }
    h5{
      font-size: 20px;
     
    }
    .col-md-9{
      margin-right: 20px;
    }
}


    
  





  @media screen and (max-width: 1190px) {
  .cbp-rfgrid li {
    width: 20%; /* Fallback */
    width: -webkit-calc(100% / 4);
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 945px) {
  .cbp-rfgrid li {
    width: 25%; /* Fallback */
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 660px) {
  .cbp-rfgrid li {
    width: 33.3333333%; /* Fallback */
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
  }
}

@media screen and (max-width: 660px) {
  .cbp-rfgrid li {
    width: 40%; /* Fallback */
    width: -webkit-calc(100% / 2.5);
    width: calc(100% / 2.5);
  }

}

@media screen and (max-width: 416px) {
  .cbp-rfgrid li {
    width: 40%; /* Fallback */
    width: -webkit-calc(100% / 2.5);
    width: calc(100% / 2.5);
  }
  .cbp-rfgrid li div h3 {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 300px) {
  .cbp-rfgrid li {
    width: 100%;
  }
  .cbp-rfgrid li div h3 {
    font-size: 0.8em;
  }
}